{{yield}}

<div style="position: fixed; top: 10px; left: 300px;">
  {{#unless (eq application.currentRouteName 'new')}}
  {{~#link-to 'new'~}}Neues Video{{~/link-to~}}
  {{/unless}}
  {{#if initialPlayed}}
  {{#unless showHowTo}}
  {{input type='checkbox' name='showHowTo' checked=showHowTo}}Show HowTo
  {{/unless}}
  {{/if}}
</div>
<hr>

{{!--
{{#unless initialllyClicked}}
<button id="init-audio_once" type="button" style="background-color: yellow;" {{action "initAudio"}}>Click Required</button>
{{/unless}}
--}}
{{#each sharedDubTrackUrls as |sharedDubTrackData idx|}}
<img style="border; 0px;" src="https://img.youtube.com/vi/{{sharedDubTrackData.videoId}}/default.jpg"> -
{{#if application.isMobile}}
<a href="whatsapp://send?text={{sharedDubTrackData.whatsAppText}}" data-action="share/whatsapp/share">Share via Whatsapp</a> or
{{/if}}
<a href="{{sharedDubTrackData.dubTrackUrl}}" target='dubTrack'><input readonly id="share_{{idx}}" value="{{sharedDubTrackData.dubTrackUrl}}" style="width: 300px; border: 0px; color: blue;"></a>
<button type="button" {{action "copyToClipboard" (append '#share' idx '_')}}>Copy Link to Clipboard</button>
<br>
{{/each}}

{{#if dubSpecReady}}
<table>
  <tr>
    <td>
      <div id="video"></div>
      {{#if initialPlayed}}
      <br>
      {{!--
      <input style="width: 300px;" class="select_video_position" type="range" min="{{mult start 10}}" max="{{mult end 10}}" value="{{add (mult start 10) (floor (div videoMilliSecs 100))}}" step="1" oninput={{action 'setVideoMilliSecs' value='target.value'}}>
      <input style="width: 300px;" class="select_video_position" type="range" min="{{mult start 1000}}" max="{{mult end 1000}}" value="{{add (mult start 1000) videoMilliSecs}}" step="100" oninput={{action 'setVideoMilliSecs' value='target.value'}}>
      --}}
      <input style="width: 300px;" class="select_video_position" type="range" min="{{mult start 1000}}" max="{{mult end 1000}}" value="{{videoMilliSecsPos}}" step="100" oninput={{action 'setVideoMilliSecs' value='target.value'}}>
      {{/if}}
      {{#if (or initialPlayed showHowTo)}}
      <br>
      <div style="width: 300px;">
        <div id="video-milli-secs" style="width: 80px; height: 20px; border: solid 1px; font-weight: 800; text-align: right; float: left;">
          {{videoMilliSecs}}
        </div>
        <div style="height: 20px; margin-left: 10px; float: left;">Millisekunden ab Szene-Start</div>
      </div>
      {{!---
      <button type="button" {{action (mut newInnerDubTrackDelay) (mult videoMilliSecs 1000)}}>Set Synchronisation Start</button>
      --}}
      {{#if audioBuffer}}
      <button style="height: 20px; margin-left: 10px;" type="button" {{action (mut newInnerDubTrackDelay) videoMilliSecs}}>Set Synchronisation Start</button>
      {{/if}}
      {{/if}}
    </td>
      {{!--
    <td>
      {{#if (or initialPlayed showHowTo)}}
      Millisekunden ab Szene-Start:<br>
      <div id="video-milli-secs" style="width: 100px; height: 50px; border: solid 1px; font-weight: 800; text-align: right; clear: both;">
        {{videoMilliSecs}}
      </div>
      {{!
      <button type="button" {{action (mut newInnerDubTrackDelay) (mult videoMilliSecs 1000)}}>Set Synchronisation Start</button>
      }}
      {{#if audioBuffer}}
      <button type="button" {{action (mut newInnerDubTrackDelay) videoMilliSecs}}>Set Synchronisation Start</button>
      {{/if}}
      {{/if}}
    </td>
      --}}
  </tr>
</table>
{{!--
<div  style="float: left;">
  <div id="video"></div>
</div>

<div id="video-milli-secs" style="position: relative; left: 350px; top: -100px; width: 100px; height: 50px; border: solid 1px; font-weight: 800; clear: both;">
  {{videoMilliSecs}}
</div>
--}}
<br style="clear: both;">
{{/if}}

{{#if playerReady}}
{{#if (and initialPlayed displayControls)}}
{{#if audioBuffer}}
<span style="float: left; margin-left: 0px 10px 0px 10px;">
<button id="play_dub" type="button" style="background-color: blue;" {{action "playVideo" false}}>Play Dub</button>
</span>
{{/if}}
<span style="float: left; margin-left: 0px 10px 0px 10px;">
<button id="play_orig" type="button" style="background-color: yellow;" {{action "playVideo"}}>Play Orig</button>
</span>
<span>
{{#unless recorded}}
{{#unless recording}}
<button id="rec_ctrl" type="button" {{action "startRecording"}}>Start Record Audio</button>
{{else}}
<button style="background-color:red;" type="button" {{action "stopRecording"}}>Stop Record Audio</button>
{{/unless}}
{{else}}
<span>Audio Saved</span>
{{/unless}}
</span>
{{#if audioBuffer}}
<span style="margin: 0px 0px 0px 20px;">
<button type="button" style="background-color: green;" {{action "shareVideo"}}>Share Video</button>
</span>
{{/if}}
{{/if}}
{{/if}}
{{#if showHowTo}}
<br>
<div style="width: {{playerWidth}}px; margin-top: 7px; padding: 0px 0px 20px 0px;" class="howTo phase1">
  {{how-to isMobile=application.isMobile}}
</div>
{{/if}}

{{#if (or initialPlayed showHowTo)}}
<br>
Video-Url: {{input id="videoUrl" value=videoUrl}} oder Video-Id: <input id="videoId" value="{{videoId}}"><br>
Szene-Start: {{input type="number" min="0" step="1" id="startSecs" value=newStart}} Sekunden (aktuell: {{start}}{{!--; Änderung wird in Aufnahme-Verzögerung übernommen--}})<br>
Szene-Ende: {{input type="number" min="0" step="1" id="endSecs" value=newEnd}} Sekunden (aktuell: {{end}})<br>
<button type="button" id="setCuttingData" {{action "setVideoId"}}>Set Cutting Data</button>
{{#if audioBuffer}}
<br><br>
Aufnahme-Verzögerung nach Szene-Start: {{input type="number" min="0" step="100" id="dubTrackDelayMillis" value=newDubTrackDelay}} Millisekunden (aktuell: {{dubTrackDelay}})<br>
Synchronisations-Start nach Aufnahme-Start: {{input type="number" min="0" step="100" id="innerDubTrackDelayMillis" value=newInnerDubTrackDelay}} Millisekunden (aktuell: {{innerDubTrackDelay}})<br>
<button type="button" id="setDubTrackDelay" {{action "setDubTrackSecs"}}>Set Dub-Track Delay</button>
{{/if}}
<br>
{{else}}
<!--
<button type="button" {{action "newDubTrack"}}>Create new Dub-Track</button>
-->
{{/if}}
