{{yield}}

{{#each sharedDubTrackUrls as |sharedDubTrackData idx|}}
<img style="border; 0px;" src="https://img.youtube.com/vi/{{sharedDubTrackData.videoId}}/default.jpg"> -
{{#if application.isMobile}}
<a href="whatsapp://send?text={{sharedDubTrackData.whatsAppText}}" data-action="share/whatsapp/share">Share via Whatsapp</a> or
{{/if}}
<a href="{{sharedDubTrackData.dubTrackUrl}}" target='dubTrack'><input readonly id="share_{{idx}}" value="{{sharedDubTrackData.dubTrackUrl}}" style="width: 300px; border: 0px; color: blue;"></a>
<button type="button" {{action "copyToClipboard" (append '#share' idx '_')}}>Copy Link to Clipboard</button>
<br>
{{/each}}

{{#if dubSpecReady}}
<div id="video"></div>
<br>
{{/if}}

{{#if playerReady}}
{{#if (and initialPlayed displayControls)}}
<span style="float: left; margin-left: 0px 10px 0px 10px;">
<button id="play_dub" type="button" style="background-color: blue;" {{action "playVideo" false}}>Play Dub</button>
</span>
<span style="float: left; margin-left: 0px 10px 0px 10px;">
<button id="play_orig" type="button" style="background-color: yellow;" {{action "playVideo"}}>Play Orig</button>
</span>
<span>
{{#unless recorded}}
{{#unless recording}}
<button id="rec_ctrl" type="button" {{action "startRecording"}}>Start Record Audio</button>
{{else}}
<button style="background-color:red;" type="button" {{action "stopRecording"}}>Stop Record Audio</button>
{{/unless}}
{{else}}
<span>Audio Saved</span>
{{/unless}}
</span>
<span style="margin: 0px 0px 0px 20px;">
<button type="button" style="background-color: green;" {{action "shareVideo"}}>Share Video</button>
</span>
{{/if}}
{{/if}}

{{#if initialPlayed}}
<br><br>
VideoId: <input id="videoId" value="{{videoId}}"><br>
Video Start Seconds: {{input type="number" min="0" step="1" id="startSecs" value=newStart}} (current value: {{start}}; change will update Dub-Track Delay Milliseconds)<br>
Video End Seconds: {{input type="number" min="0" step="1" id="endSecs" value=newEnd}} (current value: {{end}})<br>
<button type="button" id="setCuttingData" {{action "setVideoId"}}>Set Cutting Data</button>
<br><br>
Dub-Track Delay Milliseconds: {{input type="number" min="0" step="100" id="dubTrackDelayMillis" value=newDubTrackDelay}} (current value: {{dubTrackDelay}})<br>
Inner Dub-Track Delay Milliseconds: {{input type="number" min="0" step="100" id="innerDubTrackDelayMillis" value=newInnerDubTrackDelay}} (current value: {{innerDubTrackDelay}})<br>
<button type="button" id="setDubTrackDelay" {{action "setDubTrackSecs"}}>Set Dub-Track Delay</button>
<br>
{{else}}
<!--
<button type="button" {{action "newDubTrack"}}>Create new Dub-Track</button>
-->
{{/if}}
